<div class="about-us-container">
    <div class="about-us-content">
        <img src="/assets/aboutus1.png" alt="About Us Image" class="about-us-image">
        <img src="/assets/aboutus2.png" alt="About Us Image" class="about-us-image">
        <img src="/assets/aboutus3.png" alt="About Us Image" class="about-us-image">
    </div>
</div>
