<p>Check out the latest updates.</p>
<div class="news-container">
    <img src="/assets/news1.png" alt="News Image" class="news-image">
    <img src="/assets/news2.png" alt="News Image" class="news-image">
    <img src="/assets/news3.png" alt="News Image" class="news-image">
    <img src="/assets/news4.png" alt="News Image" class="news-image">
</div>
