<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img src="/assets/csgologo.jpg" alt="CS:GO 2 Logo">
        <nav>
            <a href="/">Home</a>
            <a href="/aboutus">Updates</a>
            <a href="https://store.steampowered.com/app/730/
            CounterStrike_2/" target="_blank" rel="noopener noreferrer">FAQ</a>
            <a href="/news">News</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2024 CS:GO 2. All rights reserved.</p>
    </footer>
</body>
</html>
